@model IEnumerable<ExamManagementSystem.Models.DataAccess.Section>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @if(Session["nosection"]!=null)
    {
        <script>alert("Section name can't be empty of null !");</script>
        Session["nosection"] = null;
    }
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @{
        if (Session["DeleteSection"] != null)
        {
            if ((bool)Session["DeleteSection"] == true)
            {
                <script>alert("Deletd ");</script>
            }
            else
            {
                <script>alert("Already Deleted ");</script>
            }
            Session["DeleteSection"] = null;
        }
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cours.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.Faculty)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin1.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cours.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Faculty)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
