@model IEnumerable<ExamManagementSystem.Models.DataAccess.Enroll>

@{
    ViewBag.Title = "Course List";
}

<h2>Course List</h2>

@if (Model.Count() == 0)
{
    <p>You have not enrolled in any courses yet.</p>
}
else
{

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Section.Cours.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section.SectionName)
            </th>
            <th>
                Teacher
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Cours.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section.Teacher.User.Firstname)
                </td>
                <td>
                    @Html.ActionLink("Scheduled Exams", "NewExams", new { sid = item.SectionId }) |
                    @Html.ActionLink("Past Exams", "PastExams", new { sid = item.SectionId })
                </td>
            </tr>
        }

    </table>
}
<br />
@Html.ActionLink("Back", "Index")