@model ExamManagementSystem.Models.DataAccess.Student

@{
    ViewBag.Title = "Student Home";
}

<h2>Profile</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.User.Username)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageMarks)
        </dd>
    </dl>
</div>