
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
</head>
<body>
    <div>
        <div>
            <form method="post">
                Enter your Username or Email
                <input type="text" name="usernameOrEmail" value="@ViewBag.usernameOrEmail" />
                <br />
                <span>@ViewBag.Message</span>
                <br />

                <input type="hidden" value="@ViewBag.Purpose" name="Purpose" />
                <input type="hidden" value="@ViewBag.Username" name="Username" />
                <input type="hidden" value="@ViewBag.Email" name="Email" />

                <input type="submit" name="submit" value="Find Account" />
            </form>
        </div>
    </div>
</body>
</html>
