@model IEnumerable<ExamManagementSystem.Models.DataAccess.Question>

@{
    ViewBag.Title = (ViewBag.Course + " " + ViewBag.Exm.ExamName);
    var sid = ViewBag.Exm.SectionId;
}

<h2>@(ViewBag.Course + " " + ViewBag.Exm.ExamName)</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h3>@item.Statement: </h3>
            </td>
        </tr>
        <tr>
            <td>
                @if (item.Type == "Descriptive")
                {
                    <input type="file" name=@(item.Id+"Solved") />
                }
                else if (item.Type == "Text")
                {
                    <textarea name=@(item.Id+"Solved") rows=5 cols=100></textarea>
                }
                else if (item.Type == "MCQ")
                {
                    foreach (var i in item.Options)
                    {
                        <input type="radio" name=@(item.Id+"Solved") /> @i.OptionText
                    }
                }
                else
                {
                    foreach (var i in item.Options)
                    {
                        <input type="Checkbox" name=@(item.Id+"Solved") /> @i.OptionText
                    }
                }
            </td>
        </tr>
    }
</table>

<br />
@Html.ActionLink("Back","NewExams","Student",new {sid = sid},null)