@model IEnumerable<ExamManagementSystem.Models.DataAccess.Cours>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @{
        if (Session["wrongId"] != null)
        {
            <script>alert("Wrong Id ! ");</script>
            Session["wrongId"] = null;
        }

        if (Session["confirmDelete"] != null)
        {
            if ((bool)Session["confirmDelete"] == true)
            {
                <script>alert("Deleted Successfully! ");</script>
            }
            else
            {
                <script>alert("Already Deleted !");</script>
            }
            Session["confirmDelete"] = null;
        }

    }
  

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Admin1.User.Username)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</body>
</html>
